.container {
	height: 100%;
	width: 100%;
	background-image: url(./logo.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

a {
	text-decoration: none;
	color: white;
}

#results {
	-webkit-column-gap: 5px;
	-webkit-column-fill: auto;
	-moz-column-gap: 5px;
	-moz-column-fill: auto;
	column-gap: 5px;
	column-fill: auto;
}

.lists{
	display: flex;
	justify-content: center;

}

.search-area {
	display: flex;
	justify-content: center;
}

.recipe-box {
	width: 100%;
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin: 2px;
	padding: 2rem;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
    background: black;
    transition-duration: 1s;
    filter: grayscale(90%) contrast(125%) sepia(10%);
}

.image {
	border-radius: 25px;
	max-width: 100%;
    height: auto;	
}

.recipe-box:hover {
	transition-duration: 1s;
	filter: grayscale(0%) contrast(110%) sepia(0%);
}

.show-ingredients{
	background-color: white;
	color:black;
	border: none;
	font-weight: bold;
	border-radius: 10px;
	height: 2rem;
}

.gredient-buttons{
	background-color: black;
	color:white;
	border: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.show-ingredients:hover {
	cursor: pointer;
}

.white {
	color: white;
	font-weight: bold;
}

.red {
	color: grey;
}

ul {
	list-style: none;
}

@media screen and (min-width: 414px) {
	.container{

	}

	#results {
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-count: 1;
	}
}

@media screen and (min-width: 567px) {
	#results {
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
	}
}

@media screen and (min-width: 1000px) {
	#results {
		column-count: 3;
		-webkit-column-count: 3;
		-moz-column-count: 3;
	}
}
