body {
	margin-left: 20px;
}

.lists{
	display: flex;
	justify-content: center;

}

.search-area {
	display: flex;
}

.recipe-box {
	margin: 2px;
	padding: 1rem;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
    background: black;
}

.image {
	border-radius: 25px;
    filter: grayscale(90%) contrast(125%) sepia(10%);
}

.image:hover {
	transition-duration: 1s;
	filter: grayscale(0%) contrast(100%) sepia(0%);

}

.recipe-name {
	color: white !important;
}

.ingredient-list {

}

.white {
	color: white;
}

.red {
	color: red;
}

ul {
	list-style: none;
}

h1 {
	display: flex;
	justify-content: center;
}

@media screen and (min-width: 414px) {
	.recipe {
		width: 99%;
		display: inline-block;
	}
}

@media screen and (min-width: 567px) {
	.recipe {
		width: 49%;
		display: inline-block;
	}
}

@media screen and (min-width: 1000px) {
	.recipe {
		width: 32%;
		display: inline-block;
	}
}
